name: Release

on:
  workflow_dispatch:

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      S3_BUCKET: ${{ secrets.S3_BUCKET }}
      S3_KEY: ${{ secrets.S3_KEY }}
      S3_SECRET: ${{ secrets.S3_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          token: ${{ secrets.APTO_BOT_TOKEN }}

      - name: Set npm token
        run: npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"

      - name: Set git email
        run: git config user.email "aptobot.fe@aptopayments.com"

      - name: Set git name
        run: git config user.name "AptoBotFe"

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test

      - name: Release
        run: npm run release

      - name: Notify JIRA
        run: >-
          curl -X POST -H 'Content-type: application/json' https://automation.atlassian.com/pro/hooks/15e1659919a45c78db98c5032169343383a79c79
